// fixed size image

.ma-img-container {
  background-color: $ma-background-color;
  height: 320px;
  width: 50%;

  h2 {
    margin: 0;
    padding: 0;
  }

  & {
    display: flex;
    flex-direction: column;
  }

  > div:nth-child(1) {
    flex-basis: 55%;
    overflow: hidden;
  }

  > div:nth-child(2) {
    flex-basis: 45%;
    text-align: center;

    & {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
