/*
#fae639 yellow
#000114 v dark blue
#030D54 dark blue
#ffffff white
#8b858c mid gray
*/

$main-background-color: #000114;
$text-color: #ffffff;

$color-primary: #fae639;
$color-secondary: #000114;

$color-white: #ffffff;


$footer-color: #8b858c;
