@mixin anchor ($color) {

  a {
    color: $color;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:not(.image-link):hover {
      border-bottom: 1px solid $color;
    }
  }
}
