button {

  border-radius: 6px;
  background-color: $color-primary;
  color: $color-secondary;
  border: 0;
  text-transform: lowercase;
  cursor: pointer;
  outline-color: $main-background-color;
  transition: background-color 200ms;

  &.button-lg {
    padding: 20px;
    font-family: $sans-serif;
    font-size: 150%;
  }

  &:hover {
    background-color: lighten($color-primary, 10%);

  }
}
