body {
  background-color: $main-background-color;
}

.skip-link {
  position: absolute;
  top: 0;
  right: 100%;
  color: $text-color;

  &:focus {
    right: auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include anchor($text-color);

  .image-link:hover {
    opacity: 0.8;
  }

  p a:focus {
    outline: none;
    background: $color-primary;
    color: $color-secondary;
  }
}

main {
  margin: 0 auto;
  color: $text-color;
}

main * + * {
  margin-top: 1.5rem;
}

main * + *:not(p) {
  margin-top: 3rem 0;
}

main :empty {
  display: none;
}

li,
dt,
dd,
br,
th,
td {
  margin-top: 0;
}

* + h2,
* + h3 {
  margin-top: 1.5em;
}

// external links
[href^='http']:not([href*='codeindeed.com'])::after {
  $size: 0.4em;

  display: inline-block;
  width: $size;
  height: $size;
  background-color: $color-white;
  mask-image: url("../images/external-link.svg");
  mask-size: cover;
  transform: translate(3px, -5px);
  content: "(external link)";
  overflow: hidden;
  white-space: nowrap;
  text-indent: $size;
}
