body {
  background-color: $main-background-color;
}

.skip-link {
  position: absolute;
  top: 0;
  right: 100%;
  color: $text-color;

  &:focus {
    right: auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  main {
    margin: 0 auto;
    color: $text-color;
  }

  @include anchor($text-color);

  a.image-link:hover {
    opacity: 0.8;
  }

}
